!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title jQuery VS Zepto
    %link{href: "/style/app.css", rel: "stylesheet"}/
  %body
    %div reload
    %script{src: "/js/app.js"}
    %script{src: "//localhost:35729/livereload.js"}